name: Publish website
on:
  push:
    branches:
    - main
    paths:
    - 'docs/**'
    - 'website/**'
jobs:
  publish:
    name: Snout
    uses: snout-router/.github/.github/workflows/publish-website.yml@main
